 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 a {
   text-decoration: none;
 }

 .page {
   display: flex;
   font-size: 18px;
   width: 85%;
   margin: auto;
 }

 .container-page {
   /* width: 80%; */
   /* display: flex;
   margin: auto; */
 }

 .container {
  /* width: 95%; */
  margin: auto;
 }

 .nav-layout-left-main {
    /* width: 20%;
    display: flex;
    flex-direction: column; */
   color: white !important; 
   background-color: #212a39;
   height: 100vh;
   /* position: fixed; */
 }

 .nav-layout-left-main a {
  color: white !important;
 }

 .menu {
  width: 100%;
 }

 .main-app {
   /* width: 80%; */
   /* position: fixed; */
   /* margin-left: 28%; */
 }

 .nav-layout-left-main .start {
   display: flex;
   margin-bottom: 2vh;
 }

 .nav-layout-left-main .itemt {
   margin-top: 10px;
 }

 .nav-layout-left-main .itemt a:nth-of-type(1) {
   display: flex;
 }

 .nav-layout-left-main .itemt a:nth-of-type(1) p {
   width: 80%;
   padding-left: 4%;
 }


 .nav-layout-left-main .itemt .sub-menu {
   display: none;
   padding-left: 45%;
 }

 .nav-layout-left-main .itemt .sub-menu a {
   margin-top: 7px;
 }

 .nav-layout-left-main .itemt .sub-menu a:nth-of-type(2) {
   display: flex;
   justify-items: center;
 }

 .nav-left-itemt {
   display: flex;
   justify-content: space-between;
   width: 16%;
   padding-left: 4%;
   align-items: center;
   position: relative;
 }

 .show {
   display: block !important;
 }


 .main-app .derectional {
   display: flex;
   align-items: center;
   width: 100%;
   /* position: fixed; */
 }

 .derectional .menu-nav-togger {
   display: none;
 }

 .derectional .search-nav {
   width: 85%;
 }

 

 .derectional .search-nav i {
   text-align: center;
 }

 .search-nav-input {
   width: 90%;
   line-height: 40px;
   border: 1px solid seashell;
   border-right: none;
 }

 .derectional .natification-nav {}

 .derectional .setting-nav {}

 .derectional .user-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .action-header-admin {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1;
  width: 100% !important;
  background-color: #212a39 !important;
  color: white !important;
  height: 70px;
  border-radius: 5%;
 }

 .action-header-admin a {
  background-color: #212a39 !important;
  z-index: 10;
 }
 
 

 .derectional .user-nav .avartar-user-nav {
  height: 40px;
  border-radius: 50px;

 }
 .derectional .user-nav .avartar-user-nav img{
  width: 100%;
  height: 100%;
 }

 .layout-4-chart {
   margin-top: 5vh;
   display: flex;
   justify-content: space-evenly;
 }

 .chart {
  width: 100% !important;
 }

 .chart div {
  width: 100% !important;
 }

 .chart canvas {
  min-width: 100%;
  min-height: 100%;
 }

 .layout-4-chart .chart-itemt {
    width: 25%;
 }

 .layout-4-chart .chart-itemt h1{
    margin-bottom: 10px;
 }

 .layout-4-chart .chart-itemt p{
  margin-bottom: 20px;
  margin-left: 5%;
  color: gray;
 }

 .layout-sale {
   margin-top: 5vh;
   display: flex;
   justify-content: space-between !important;
   gap: 5%;
 }

 .layout-sale-left {
   width: 60%;
   text-align: center;
 }

 .layout-sale-right {
   width: 40%;
   text-align: center !important;
   display: flex;
   flex-direction: column;
 }

 .price-itemt {
   display: flex;
   justify-content: space-between;
   /* gap: 2% ; */

 }

 .price-itemt div {
   border: 1px solid rgb(189, 185, 185);
   width: 50%;
   padding-left: 2%;
 }

 .price-itemt div p {
   margin-top: 5px;
 }

 .price-itemt div h4 {
   margin-top: 5px;
 }

 .download-report {
   display: flex;
   /* align-items: center; */
   justify-content: center;
   margin: 10px 0;
 }

 .download-report p {
   margin-left: 10px;
 }


 .layout-recent-order {
   margin-top: 10vh;
 }

 .layout-recent-order div a {
   display: flex;
 }

 .table-recent-orders {
  position: relative  ;
   width: 100%;
   text-align: center;
   border: 1px solid rgb(158, 154, 154);
   border-collapse: collapse;
 }

 .sub-crud {
  width: 100%;
  background-color: wheat;
 }

 .sub-crud tr:nth-of-type(1) {
  width: 100% !important;
  display: flex;
  justify-content: space-around;
 }

 .sub-crud tr:nth-of-type(2) {
  width: 10%;
 }

 .sub-crud tr:nth-of-type(2) input {
  width: 100%;
 }

 .sub-crud tr:nth-of-type(3) {
  width: 100%;
 }

 .sub-crud tr:nth-of-type(3) td{
  column-span: 5;
 }


 .sub-crud td{
 }

 tr td {
   border: 1px solid rgb(158, 154, 154);
   padding: 10px 0;
 }

 tr th {
   padding: 10px 0;
 }

 .title-layout-recent-order {
   display: flex;
   justify-content: space-between;
   padding-right: 5%;
 }

 .sub-crud {
  display: none;
 }

 .interView {
  display: flex;
 }

 .interView Col {
  padding-right: 10px;
 }

 .magin-top-10px {
    margin-top: 10px;
 }

 .show {
  display: block;
  right: 1% !important;
  bottom: 4% !important;
  color: #212a39;
 }
 .none {
  display: none;
 }